
StringSearch/.vs/StringSearch/v16/Browse.VC.db
StringSearch/.vs/StringSearch/v16/Browse.VC.db-shm
StringSearch/.vs/StringSearch/v16/Browse.VC.opendb
StringSearch/.vs/StringSearch/v16/ipch/AutoPCH/3822b6a927413e98/STRINGSEARCH.ipch
StringSearch/.vs/StringSearch/v16/Browse.VC.db-wal
